@model RestorauntManagement.ViewModels.User.AccountDetailsModel

@{
    ViewData["Title"] = "Account Details";
}

    <div class="container">
        <p>Username: @Model.UserName</p>
        <p>Email: @Model.Email</p>
        <p>Pin: @Model.UserPin</p>
    </div>